html{
  height: 100%;
}
body{
  background-color: black;
}
.Italian-Flag{
    background-color: #f1f2f1 !important;
    position: relative;
    z-index: -10;
}

.Italian-Flag:before{
content: "";
width: 33.33%;
height: 100%;
background-color: green !important;
position: absolute;
top: 0;
left: 0;
z-index: -10;}
.Italian-Flag:after{
    content:"";
    width: 33.33%;
    height: 100%;
    background-color: red !important;
    position: absolute;
    top: 0; 
    right: 0;
    z-index: -10;}
  
      #coloriimg{
        width: 45%;

      }             

    